In [1]:
import numpy as np
import pandas as pd
import math

from pandas import read_excel
import seaborn as sns; sns.set(style="ticks", color_codes=True)

In [2]:
file_name = "field_in_place_volumes.xlsx"
temp_file_1 = read_excel(file_name)
temp_file_1 = temp_file_1.drop(["Unnamed: 0", "Date sync NPD", "Updated date"], axis=1)
temp_file_1 = temp_file_1.set_index("Field name")

file_name = "field_reserves.xlsx"
temp_file_2 = read_excel(file_name)
temp_file_2 = temp_file_2.drop(["Unnamed: 0", "Updated date", "NPDID field", "Date sync NPD"], axis=1)
temp_file_2 = temp_file_2.set_index("Field name")

In [3]:
temp_file_1

,Orig. inplace oil \n[mill Sm3],Orig. inplace ass. liquid \n[mill Sm3],Orig. inplace ass. gas \n[bill Sm3],Orig. inplace free gas \n[bill Sm3],NPDID field
Field name,,,,,
ALBUSKJELL,56,0,64,0.00,43437
ALVE,3,3,1,13.50,4444332
ALVHEIM,109,0,10,11.69,2845712
ATLA,0,0,0,1.88,21106284
BALDER,263,0,14,0.00,43562
...,...,...,...,...,...
YTTERGRYTA,0,1,0,7.39,4973114
ÆRFUGL,13,0,0,63.00,33310197
ØST FRIGG,0,0,0,21.37,43576
ÅSGARD,192,200,57,331.09,43765
AASTA HANSTEEN,0,1,0,78.69,23395946

In [4]:
temp_file_2

,Orig. recoverable oil \n[mill Sm3],Orig. recoverable gas \n[bill Sm3],Orig. recoverable NGL \n[mill tonn],Orig. recoverable cond. \n[mill Sm3],Orig. recoverable oil eq. \n[mill Sm3 o.e],Remaining oil \n[mill Sm3],Remaining gas \n[bill Sm3],Remaining NGL \n[mill tonn],Remaining cond. \n[mill Sm3],Remaining oil eq. \n[mill Sm3 o.e]
Field name,,,,,,,,,,
ALBUSKJELL,7.35,15.53,0.99,0.00,24.761,0.00,0.00,0.00,0.00,0.000
ALVE,2.39,9.08,1.41,0.00,14.149,0.34,2.10,0.28,0.00,2.972
ALVHEIM,51.79,10.06,0.00,0.00,61.850,9.31,4.20,0.00,0.00,13.510
ATLA,0.40,1.40,0.00,0.00,1.800,0.00,0.00,0.00,0.00,0.000
BALDER,106.87,3.25,0.00,0.00,110.120,36.18,1.24,0.00,0.00,37.420
...,...,...,...,...,...,...,...,...,...,...
YTTERGRYTA,0.29,2.22,0.41,0.00,3.289,0.00,0.00,0.00,0.00,0.000
ÆRFUGL,5.90,37.04,4.15,0.00,50.825,4.65,31.61,3.52,0.00,42.948
ØST FRIGG,0.00,9.22,0.00,0.07,9.290,0.00,0.00,0.00,0.00,0.000
ÅSGARD,105.85,222.14,41.52,17.11,423.988,5.90,32.41,6.46,0.00,50.584
AASTA HANSTEEN,0.00,54.01,0.00,0.69,54.700,0.00,47.40,0.00,0.59,47.990

In [5]:
main_file = temp_file_1.join(temp_file_2)

cols = list(main_file)
cols[4], cols[0] = cols[0], cols[4]
main_file = main_file.ix[:,cols]

main_file

C:\Users\lawso\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """
C:\Users\lawso\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:822: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  retval = getattr(retval, self.name)._getitem_axis(key, axis=i)

,NPDID field,Orig. inplace ass. liquid \n[mill Sm3],Orig. inplace ass. gas \n[bill Sm3],Orig. inplace free gas \n[bill Sm3],Orig. inplace oil \n[mill Sm3],Orig. recoverable oil \n[mill Sm3],Orig. recoverable gas \n[bill Sm3],Orig. recoverable NGL \n[mill tonn],Orig. recoverable cond. \n[mill Sm3],Orig. recoverable oil eq. \n[mill Sm3 o.e],Remaining oil \n[mill Sm3],Remaining gas \n[bill Sm3],Remaining NGL \n[mill tonn],Remaining cond. \n[mill Sm3],Remaining oil eq. \n[mill Sm3 o.e]
Field name,,,,,,,,,,,,,,,
ALBUSKJELL,43437,0,64,0.00,56,7.35,15.53,0.99,0.00,24.761,0.00,0.00,0.00,0.00,0.000
ALVE,4444332,3,1,13.50,3,2.39,9.08,1.41,0.00,14.149,0.34,2.10,0.28,0.00,2.972
ALVHEIM,2845712,0,10,11.69,109,51.79,10.06,0.00,0.00,61.850,9.31,4.20,0.00,0.00,13.510
ATLA,21106284,0,0,1.88,0,0.40,1.40,0.00,0.00,1.800,0.00,0.00,0.00,0.00,0.000
BALDER,43562,0,14,0.00,263,106.87,3.25,0.00,0.00,110.120,36.18,1.24,0.00,0.00,37.420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YTTERGRYTA,4973114,1,0,7.39,0,0.29,2.22,0.41,0.00,3.289,0.00,0.00,0.00,0.00,0.000
ÆRFUGL,33310197,0,0,63.00,13,5.90,37.04,4.15,0.00,50.825,4.65,31.61,3.52,0.00,42.948
ØST FRIGG,43576,0,0,21.37,0,0.00,9.22,0.00,0.07,9.290,0.00,0.00,0.00,0.00,0.000
ÅSGARD,43765,200,57,331.09,192,105.85,222.14,41.52,17.11,423.988,5.90,32.41,6.46,0.00,50.584
AASTA HANSTEEN,23395946,1,0,78.69,0,0.00,54.01,0.00,0.69,54.700,0.00,47.40,0.00,0.59,47.990

In [6]:
main_file

,NPDID field,Orig. inplace ass. liquid \n[mill Sm3],Orig. inplace ass. gas \n[bill Sm3],Orig. inplace free gas \n[bill Sm3],Orig. inplace oil \n[mill Sm3],Orig. recoverable oil \n[mill Sm3],Orig. recoverable gas \n[bill Sm3],Orig. recoverable NGL \n[mill tonn],Orig. recoverable cond. \n[mill Sm3],Orig. recoverable oil eq. \n[mill Sm3 o.e],Remaining oil \n[mill Sm3],Remaining gas \n[bill Sm3],Remaining NGL \n[mill tonn],Remaining cond. \n[mill Sm3],Remaining oil eq. \n[mill Sm3 o.e]
Field name,,,,,,,,,,,,,,,
ALBUSKJELL,43437,0,64,0.00,56,7.35,15.53,0.99,0.00,24.761,0.00,0.00,0.00,0.00,0.000
ALVE,4444332,3,1,13.50,3,2.39,9.08,1.41,0.00,14.149,0.34,2.10,0.28,0.00,2.972
ALVHEIM,2845712,0,10,11.69,109,51.79,10.06,0.00,0.00,61.850,9.31,4.20,0.00,0.00,13.510
ATLA,21106284,0,0,1.88,0,0.40,1.40,0.00,0.00,1.800,0.00,0.00,0.00,0.00,0.000
BALDER,43562,0,14,0.00,263,106.87,3.25,0.00,0.00,110.120,36.18,1.24,0.00,0.00,37.420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YTTERGRYTA,4973114,1,0,7.39,0,0.29,2.22,0.41,0.00,3.289,0.00,0.00,0.00,0.00,0.000
ÆRFUGL,33310197,0,0,63.00,13,5.90,37.04,4.15,0.00,50.825,4.65,31.61,3.52,0.00,42.948
ØST FRIGG,43576,0,0,21.37,0,0.00,9.22,0.00,0.07,9.290,0.00,0.00,0.00,0.00,0.000
ÅSGARD,43765,200,57,331.09,192,105.85,222.14,41.52,17.11,423.988,5.90,32.41,6.46,0.00,50.584
AASTA HANSTEEN,23395946,1,0,78.69,0,0.00,54.01,0.00,0.69,54.700,0.00,47.40,0.00,0.59,47.990

In [7]:
main_file["Avg Core Photos"] = 0

file_name = "core_photos_data.xlsx"
core_photos = read_excel(file_name)

for i in range(0, len(core_photos)):
    cur_photo_id = int(core_photos.at[i, "NPDID Field"])
    for cur_field in main_file.index:
        cur_field_id = int(main_file.at[cur_field, "NPDID field"])
        if(cur_photo_id == cur_field_id):
            main_file.loc[[cur_field], ["Avg Core Photos"]] = core_photos.at[i, "Avg # of photos per field"]

In [8]:
main_file["Avg Core Photos"]

Field name
ALBUSKJELL          0
ALVE                0
ALVHEIM             0
ATLA                0
BALDER              0
                 ...
YTTERGRYTA          0
ÆRFUGL              0
ØST FRIGG           0
ÅSGARD            154
AASTA HANSTEEN      0
Name: Avg Core Photos, Length: 123, dtype: int64

In [9]:
main_file["Completion logs"] = 0

file_name = "completion_logs_per_field.xlsx"
completion_logs = read_excel(file_name)
for i in range(0, len(completion_logs)):
    cur_comple_id = int(completion_logs.at[i, "Field ID"])
    for cur_field in main_file.index:
        cur_field_id = int(main_file.at[cur_field, "NPDID field"])
        if(cur_comple_id == cur_field_id):
            main_file.loc[[cur_field], ["Completion logs"]] = completion_logs.at[i, "# of completion logs"]

In [10]:
main_file["Completion logs"]

Field name
ALBUSKJELL        0
ALVE              0
ALVHEIM           0
ATLA              0
BALDER            0
                 ..
YTTERGRYTA        0
ÆRFUGL            0
ØST FRIGG         0
ÅSGARD            7
AASTA HANSTEEN    0
Name: Completion logs, Length: 123, dtype: int64

In [23]:
main_file["# of Wells"] = 0

file_name = "Number_of_well_logs_per_field_sonya.xlsx"
num_wells = read_excel(file_name)
for i in range(0, len(num_wells)):
    cur_well_id = int(num_wells.at[i, "NPDID field"])
    for cur_field in main_file.index:
        cur_field_id = int(main_file.at[cur_field, "NPDID field"])
        if(cur_well_id == cur_field_id):
            main_file.loc[[cur_field], ["# of Wells"]] = num_wells.at[i, "Frequency"]



#file_name = "discovery.xlsx"
#discovery = read_excel(file_name)
#for i in range(0, len(discovery)):
#    temp = discovery.at[i, "fldNpdidField"]
#    if(not(math.isnan(temp))):
#        cur_discovery_id = int(temp)
#        for cur_field in main_file.index:
#            cur_field_id = cur_field_id = int(main_file.at[cur_field, "NPDID field"])
#            if(cur_discovery_id == cur_field_id):
#                main_file.at[cur_field, "# of Wells"] = main_file.at[cur_field, "# of Wells"] + 1

In [ ]:
# number of core descriptions

In [ ]:
# of lithology files

In [12]:
for i in range(1,584):
    curMonth = "Oil - Month " + str(i)
    main_file[curMonth] = 0
    
for i in range(1,584):
    curMonth = "Gas - Month " + str(i)
    main_file[curMonth] = 0
main_file

,NPDID field,Orig. inplace ass. liquid \n[mill Sm3],Orig. inplace ass. gas \n[bill Sm3],Orig. inplace free gas \n[bill Sm3],Orig. inplace oil \n[mill Sm3],Orig. recoverable oil \n[mill Sm3],Orig. recoverable gas \n[bill Sm3],Orig. recoverable NGL \n[mill tonn],Orig. recoverable cond. \n[mill Sm3],Orig. recoverable oil eq. \n[mill Sm3 o.e],...,Gas - Month 574,Gas - Month 575,Gas - Month 576,Gas - Month 577,Gas - Month 578,Gas - Month 579,Gas - Month 580,Gas - Month 581,Gas - Month 582,Gas - Month 583
Field name,,,,,,,,,,,,,,,,,,,,,
ALBUSKJELL,43437,0,64,0.00,56,7.35,15.53,0.99,0.00,24.761,...,0,0,0,0,0,0,0,0,0,0
ALVE,4444332,3,1,13.50,3,2.39,9.08,1.41,0.00,14.149,...,0,0,0,0,0,0,0,0,0,0
ALVHEIM,2845712,0,10,11.69,109,51.79,10.06,0.00,0.00,61.850,...,0,0,0,0,0,0,0,0,0,0
ATLA,21106284,0,0,1.88,0,0.40,1.40,0.00,0.00,1.800,...,0,0,0,0,0,0,0,0,0,0
BALDER,43562,0,14,0.00,263,106.87,3.25,0.00,0.00,110.120,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YTTERGRYTA,4973114,1,0,7.39,0,0.29,2.22,0.41,0.00,3.289,...,0,0,0,0,0,0,0,0,0,0
ÆRFUGL,33310197,0,0,63.00,13,5.90,37.04,4.15,0.00,50.825,...,0,0,0,0,0,0,0,0,0,0
ØST FRIGG,43576,0,0,21.37,0,0.00,9.22,0.00,0.07,9.290,...,0,0,0,0,0,0,0,0,0,0
ÅSGARD,43765,200,57,331.09,192,105.85,222.14,41.52,17.11,423.988,...,0,0,0,0,0,0,0,0,0,0
AASTA HANSTEEN,23395946,1,0,78.69,0,0.00,54.01,0.00,0.69,54.700,...,0,0,0,0,0,0,0,0,0,0

In [13]:
monthly = pd.read_excel("field_production_monthly.xlsx")
monthly

,Field (Discovery),Year,Month,Net - oil \n[mill Sm3],Net - gas \n[bill Sm3],Net - NGL \n[mill Sm3],Net - condensate \n[mill Sm3],Net - oil equivalents \n[mill Sm3],Produced water in field \n[mill Sm3],NPDID information carrier
0,1/5-2 Flyndre,2017,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,43838
1,1/5-2 Flyndre,2017,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,43838
2,1/5-2 Flyndre,2017,3,0.000320,0.000000,0.000003,0.000000,0.000323,0.000000,43838
3,1/5-2 Flyndre,2017,4,0.002589,0.000000,0.000031,0.000000,0.002620,0.000001,43838
4,1/5-2 Flyndre,2017,5,0.002123,0.000000,0.000031,0.000000,0.002154,0.000001,43838
...,...,...,...,...,...,...,...,...,...,...
20779,AASTA HANSTEEN,2019,8,0.000000,0.675740,0.000000,0.019321,0.695061,0.002626,23395946
20780,AASTA HANSTEEN,2019,9,0.000000,0.200317,0.000000,0.003316,0.203633,0.000510,23395946
20781,AASTA HANSTEEN,2019,10,0.000000,0.742341,0.000000,0.017377,0.759718,0.001451,23395946
20782,AASTA HANSTEEN,2019,11,0.000000,0.670464,0.000000,0.014567,0.685031,0.001190,23395946
20783,AASTA HANSTEEN,2019,12,0.000000,0.794164,0.000000,0.018252,0.812416,0.001590,23395946

In [14]:
field_ALBUSKJELL = monthly[monthly['NPDID information carrier'] == 43437]
field_ALBUSKJELL = field_ALBUSKJELL.reset_index()
field_ALBUSKJELL

,index,Field (Discovery),Year,Month,Net - oil \n[mill Sm3],Net - gas \n[bill Sm3],Net - NGL \n[mill Sm3],Net - condensate \n[mill Sm3],Net - oil equivalents \n[mill Sm3],Produced water in field \n[mill Sm3],NPDID information carrier
0,100,ALBUSKJELL,1979,5,0.004170,0.007675,0.000334,0.0,0.012179,0.0,43437
1,101,ALBUSKJELL,1979,6,0.011636,0.020897,0.000935,0.0,0.033468,0.0,43437
2,102,ALBUSKJELL,1979,7,0.034908,0.053984,0.004468,0.0,0.093360,0.0,43437
3,103,ALBUSKJELL,1979,8,0.096234,0.125056,0.012035,0.0,0.233325,0.0,43437
4,104,ALBUSKJELL,1979,9,0.110199,0.133320,0.011875,0.0,0.255394,0.0,43437
...,...,...,...,...,...,...,...,...,...,...,...
226,326,ALBUSKJELL,1998,3,0.004456,0.015475,0.001588,0.0,0.021519,0.0,43437
227,327,ALBUSKJELL,1998,4,0.004291,0.014163,0.001713,0.0,0.020167,0.0,43437
228,328,ALBUSKJELL,1998,5,0.004428,0.014367,0.001574,0.0,0.020369,0.0,43437
229,329,ALBUSKJELL,1998,6,0.004269,0.014868,0.001670,0.0,0.020807,0.0,43437
230,330,ALBUSKJELL,1998,7,0.004194,0.015690,0.001550,0.0,0.021434,0.0,43437

In [15]:
for i in range(0, len(field_ALBUSKJELL)):
    cur_production = field_ALBUSKJELL['Net - oil \n[mill Sm3]'][i]
    cur_month = field_ALBUSKJELL['Month'][i]
    cur_year = field_ALBUSKJELL['Year'][i]
    new_month = (cur_year - 1972)*12 + cur_month + 7
    if(new_month <= 0):
        new_month = cur_month
    print("The new month for %s and %s is %s" % (cur_year, cur_month, new_month))
    print("The current production is %f" % (cur_production))

The new month for 1979 and 5 is 96
The current production is 0.004170
The new month for 1979 and 6 is 97
The current production is 0.011636
The new month for 1979 and 7 is 98
The current production is 0.034908
The new month for 1979 and 8 is 99
The current production is 0.096234
The new month for 1979 and 9 is 100
The current production is 0.110199
The new month for 1979 and 10 is 101
The current production is 0.071785
The new month for 1979 and 11 is 102
The current production is 0.110570
The new month for 1979 and 12 is 103
The current production is 0.091656
The new month for 1980 and 1 is 104
The current production is 0.121312
The new month for 1980 and 2 is 105
The current production is 0.129680
The new month for 1980 and 3 is 106
The current production is 0.131003
The new month for 1980 and 4 is 107
The current production is 0.113274
The new month for 1980 and 5 is 108
The current production is 0.134288
The new month for 1980 and 6 is 109
The current production is 0.138541
The new month for 1980 and 7 is 110
The current production is 0.059966
The new month for 1980 and 8 is 111
The current production is 0.130560
The new month for 1980 and 9 is 112
The current production is 0.130576
The new month for 1980 and 10 is 113
The current production is 0.118658
The new month for 1980 and 11 is 114
The current production is 0.116335
The new month for 1980 and 12 is 115
The current production is 0.117479
The new month for 1981 and 1 is 116
The current production is 0.113025
The new month for 1981 and 2 is 117
The current production is 0.113910
The new month for 1981 and 3 is 118
The current production is 0.141655
The new month for 1981 and 4 is 119
The current production is 0.129115
The new month for 1981 and 5 is 120
The current production is 0.131250
The new month for 1981 and 6 is 121
The current production is 0.123955
The new month for 1981 and 7 is 122
The current production is 0.131079
The new month for 1981 and 8 is 123
The current production is 0.051749
The new month for 1981 and 9 is 124
The current production is 0.138282
The new month for 1981 and 10 is 125
The current production is 0.111868
The new month for 1981 and 11 is 126
The current production is 0.114786
The new month for 1981 and 12 is 127
The current production is 0.125536
The new month for 1982 and 1 is 128
The current production is 0.121651
The new month for 1982 and 2 is 129
The current production is 0.101104
The new month for 1982 and 3 is 130
The current production is 0.104738
The new month for 1982 and 4 is 131
The current production is 0.091015
The new month for 1982 and 5 is 132
The current production is 0.078108
The new month for 1982 and 6 is 133
The current production is 0.088894
The new month for 1982 and 7 is 134
The current production is 0.078051
The new month for 1982 and 8 is 135
The current production is 0.065561
The new month for 1982 and 9 is 136
The current production is 0.056584
The new month for 1982 and 10 is 137
The current production is 0.049655
The new month for 1982 and 11 is 138
The current production is 0.055702
The new month for 1982 and 12 is 139
The current production is 0.061867
The new month for 1983 and 1 is 140
The current production is 0.061478
The new month for 1983 and 2 is 141
The current production is 0.065076
The new month for 1983 and 3 is 142
The current production is 0.069345
The new month for 1983 and 4 is 143
The current production is 0.062485
The new month for 1983 and 5 is 144
The current production is 0.059164
The new month for 1983 and 6 is 145
The current production is 0.060231
The new month for 1983 and 7 is 146
The current production is 0.060178
The new month for 1983 and 8 is 147
The current production is 0.052826
The new month for 1983 and 9 is 148
The current production is 0.051850
The new month for 1983 and 10 is 149
The current production is 0.053230
The new month for 1983 and 11 is 150
The current production is 0.050644
The new month for 1983 and 12 is 151
The current production is 0.050835
The new month for 1984 and 1 is 152
The current production is 0.048884
The new month for 1984 and 2 is 153
The current production is 0.043901
The new month for 1984 and 3 is 154
The current production is 0.046353
The new month for 1984 and 4 is 155
The current production is 0.044184
The new month for 1984 and 5 is 156
The current production is 0.043214
The new month for 1984 and 6 is 157
The current production is 0.036174
The new month for 1984 and 7 is 158
The current production is 0.037374
The new month for 1984 and 8 is 159
The current production is 0.028838
The new month for 1984 and 9 is 160
The current production is 0.033966
The new month for 1984 and 10 is 161
The current production is 0.034166
The new month for 1984 and 11 is 162
The current production is 0.031793
The new month for 1984 and 12 is 163
The current production is 0.032741
The new month for 1985 and 1 is 164
The current production is 0.034209
The new month for 1985 and 2 is 165
The current production is 0.031477
The new month for 1985 and 3 is 166
The current production is 0.034106
The new month for 1985 and 4 is 167
The current production is 0.031947
The new month for 1985 and 5 is 168
The current production is 0.031338
The new month for 1985 and 6 is 169
The current production is 0.027177
The new month for 1985 and 7 is 170
The current production is 0.028754
The new month for 1985 and 8 is 171
The current production is 0.028289
The new month for 1985 and 9 is 172
The current production is 0.026914
The new month for 1985 and 10 is 173
The current production is 0.028198
The new month for 1985 and 11 is 174
The current production is 0.027332
The new month for 1985 and 12 is 175
The current production is 0.027550
The new month for 1986 and 1 is 176
The current production is 0.026363
The new month for 1986 and 2 is 177
The current production is 0.023602
The new month for 1986 and 3 is 178
The current production is 0.024955
The new month for 1986 and 4 is 179
The current production is 0.010798
The new month for 1986 and 5 is 180
The current production is 0.027079
The new month for 1986 and 6 is 181
The current production is 0.023629
The new month for 1986 and 7 is 182
The current production is 0.028189
The new month for 1986 and 8 is 183
The current production is 0.026458
The new month for 1986 and 9 is 184
The current production is 0.025105
The new month for 1986 and 10 is 185
The current production is 0.023987
The new month for 1986 and 11 is 186
The current production is 0.022930
The new month for 1986 and 12 is 187
The current production is 0.022155
The new month for 1987 and 1 is 188
The current production is 0.021860
The new month for 1987 and 2 is 189
The current production is 0.019966
The new month for 1987 and 3 is 190
The current production is 0.020914
The new month for 1987 and 4 is 191
The current production is 0.019757
The new month for 1987 and 5 is 192
The current production is 0.018701
The new month for 1987 and 6 is 193
The current production is 0.018575
The new month for 1987 and 7 is 194
The current production is 0.018268
The new month for 1987 and 8 is 195
The current production is 0.005162
The new month for 1987 and 9 is 196
The current production is 0.017575
The new month for 1987 and 10 is 197
The current production is 0.020738
The new month for 1987 and 11 is 198
The current production is 0.016955
The new month for 1987 and 12 is 199
The current production is 0.017315
The new month for 1988 and 1 is 200
The current production is 0.016588
The new month for 1988 and 2 is 201
The current production is 0.014827
The new month for 1988 and 3 is 202
The current production is 0.016939
The new month for 1988 and 4 is 203
The current production is 0.015533
The new month for 1988 and 5 is 204
The current production is 0.015911
The new month for 1988 and 6 is 205
The current production is 0.014437
The new month for 1988 and 7 is 206
The current production is 0.015344
The new month for 1988 and 8 is 207
The current production is 0.015784
The new month for 1988 and 9 is 208
The current production is 0.014806
The new month for 1988 and 10 is 209
The current production is 0.013831
The new month for 1988 and 11 is 210
The current production is 0.010983
The new month for 1988 and 12 is 211
The current production is 0.010589
The new month for 1989 and 1 is 212
The current production is 0.009475
The new month for 1989 and 2 is 213
The current production is 0.008459
The new month for 1989 and 3 is 214
The current production is 0.008814
The new month for 1989 and 4 is 215
The current production is 0.012083
The new month for 1989 and 5 is 216
The current production is 0.014473
The new month for 1989 and 6 is 217
The current production is 0.013843
The new month for 1989 and 7 is 218
The current production is 0.013391
The new month for 1989 and 8 is 219
The current production is 0.013265
The new month for 1989 and 9 is 220
The current production is 0.012226
The new month for 1989 and 10 is 221
The current production is 0.012037
The new month for 1989 and 11 is 222
The current production is 0.011843
The new month for 1989 and 12 is 223
The current production is 0.011591
The new month for 1990 and 1 is 224
The current production is 0.012164
The new month for 1990 and 2 is 225
The current production is 0.010091
The new month for 1990 and 3 is 226
The current production is 0.010575
The new month for 1990 and 4 is 227
The current production is 0.010775
The new month for 1990 and 5 is 228
The current production is 0.008635
The new month for 1990 and 6 is 229
The current production is 0.007400
The new month for 1990 and 7 is 230
The current production is 0.007907
The new month for 1990 and 8 is 231
The current production is 0.008508
The new month for 1990 and 9 is 232
The current production is 0.007824
The new month for 1990 and 10 is 233
The current production is 0.008107
The new month for 1990 and 11 is 234
The current production is 0.008371
The new month for 1990 and 12 is 235
The current production is 0.008583
The new month for 1991 and 1 is 236
The current production is 0.008341
The new month for 1991 and 2 is 237
The current production is 0.007282
The new month for 1991 and 3 is 238
The current production is 0.007900
The new month for 1991 and 4 is 239
The current production is 0.007613
The new month for 1991 and 5 is 240
The current production is 0.007998
The new month for 1991 and 6 is 241
The current production is 0.008226
The new month for 1991 and 7 is 242
The current production is 0.007781
The new month for 1991 and 8 is 243
The current production is 0.003862
The new month for 1991 and 9 is 244
The current production is 0.008006
The new month for 1991 and 10 is 245
The current production is 0.008475
The new month for 1991 and 11 is 246
The current production is 0.007399
The new month for 1991 and 12 is 247
The current production is 0.007962
The new month for 1992 and 1 is 248
The current production is 0.007634
The new month for 1992 and 2 is 249
The current production is 0.006735
The new month for 1992 and 3 is 250
The current production is 0.006025
The new month for 1992 and 4 is 251
The current production is 0.008270
The new month for 1992 and 5 is 252
The current production is 0.005490
The new month for 1992 and 6 is 253
The current production is 0.007331
The new month for 1992 and 7 is 254
The current production is 0.007627
The new month for 1992 and 8 is 255
The current production is 0.007726
The new month for 1992 and 9 is 256
The current production is 0.006935
The new month for 1992 and 10 is 257
The current production is 0.007218
The new month for 1992 and 11 is 258
The current production is 0.006854
The new month for 1992 and 12 is 259
The current production is 0.008936
The new month for 1993 and 1 is 260
The current production is 0.008327
The new month for 1993 and 2 is 261
The current production is 0.007849
The new month for 1993 and 3 is 262
The current production is 0.008266
The new month for 1993 and 4 is 263
The current production is 0.008308
The new month for 1993 and 5 is 264
The current production is 0.008382
The new month for 1993 and 6 is 265
The current production is 0.007953
The new month for 1993 and 7 is 266
The current production is 0.008124
The new month for 1993 and 8 is 267
The current production is 0.008190
The new month for 1993 and 9 is 268
The current production is 0.007989
The new month for 1993 and 10 is 269
The current production is 0.007556
The new month for 1993 and 11 is 270
The current production is 0.007425
The new month for 1993 and 12 is 271
The current production is 0.007705
The new month for 1994 and 1 is 272
The current production is 0.007411
The new month for 1994 and 2 is 273
The current production is 0.006781
The new month for 1994 and 3 is 274
The current production is 0.007117
The new month for 1994 and 4 is 275
The current production is 0.007067
The new month for 1994 and 5 is 276
The current production is 0.007037
The new month for 1994 and 6 is 277
The current production is 0.006743
The new month for 1994 and 7 is 278
The current production is 0.006873
The new month for 1994 and 8 is 279
The current production is 0.005416
The new month for 1994 and 9 is 280
The current production is 0.006410
The new month for 1994 and 10 is 281
The current production is 0.006452
The new month for 1994 and 11 is 282
The current production is 0.007131
The new month for 1994 and 12 is 283
The current production is 0.006584
The new month for 1995 and 1 is 284
The current production is 0.006547
The new month for 1995 and 2 is 285
The current production is 0.005967
The new month for 1995 and 3 is 286
The current production is 0.006489
The new month for 1995 and 4 is 287
The current production is 0.006230
The new month for 1995 and 5 is 288
The current production is 0.006296
The new month for 1995 and 6 is 289
The current production is 0.005956
The new month for 1995 and 7 is 290
The current production is 0.006024
The new month for 1995 and 8 is 291
The current production is 0.006630
The new month for 1995 and 9 is 292
The current production is 0.006087
The new month for 1995 and 10 is 293
The current production is 0.006601
The new month for 1995 and 11 is 294
The current production is 0.005969
The new month for 1995 and 12 is 295
The current production is 0.005082
The new month for 1996 and 1 is 296
The current production is 0.004708
The new month for 1996 and 2 is 297
The current production is 0.004605
The new month for 1996 and 3 is 298
The current production is 0.004666
The new month for 1996 and 4 is 299
The current production is 0.004345
The new month for 1996 and 5 is 300
The current production is 0.004331
The new month for 1996 and 6 is 301
The current production is 0.003942
The new month for 1996 and 7 is 302
The current production is 0.004868
The new month for 1996 and 8 is 303
The current production is 0.004741
The new month for 1996 and 9 is 304
The current production is 0.004993
The new month for 1996 and 10 is 305
The current production is 0.004711
The new month for 1996 and 11 is 306
The current production is 0.004278
The new month for 1996 and 12 is 307
The current production is 0.004158
The new month for 1997 and 1 is 308
The current production is 0.003337
The new month for 1997 and 2 is 309
The current production is 0.003660
The new month for 1997 and 3 is 310
The current production is 0.004142
The new month for 1997 and 4 is 311
The current production is 0.003932
The new month for 1997 and 5 is 312
The current production is 0.003665
The new month for 1997 and 6 is 313
The current production is 0.003350
The new month for 1997 and 7 is 314
The current production is 0.003579
The new month for 1997 and 8 is 315
The current production is 0.004195
The new month for 1997 and 9 is 316
The current production is 0.005097
The new month for 1997 and 10 is 317
The current production is 0.003611
The new month for 1997 and 11 is 318
The current production is 0.003540
The new month for 1997 and 12 is 319
The current production is 0.004029
The new month for 1998 and 1 is 320
The current production is 0.003975
The new month for 1998 and 2 is 321
The current production is 0.003930
The new month for 1998 and 3 is 322
The current production is 0.004456
The new month for 1998 and 4 is 323
The current production is 0.004291
The new month for 1998 and 5 is 324
The current production is 0.004428
The new month for 1998 and 6 is 325
The current production is 0.004269
The new month for 1998 and 7 is 326
The current production is 0.004194

In [16]:
all_field_ids = main_file["NPDID field"]
all_field_ids

Field name
ALBUSKJELL           43437
ALVE               4444332
ALVHEIM            2845712
ATLA              21106284
BALDER               43562
                    ...
YTTERGRYTA         4973114
ÆRFUGL            33310197
ØST FRIGG            43576
ÅSGARD               43765
AASTA HANSTEEN    23395946
Name: NPDID field, Length: 123, dtype: int64

In [17]:
print(all_field_ids)

Field name
ALBUSKJELL           43437
ALVE               4444332
ALVHEIM            2845712
ATLA              21106284
BALDER               43562
                    ...
YTTERGRYTA         4973114
ÆRFUGL            33310197
ØST FRIGG            43576
ÅSGARD               43765
AASTA HANSTEEN    23395946
Name: NPDID field, Length: 123, dtype: int64

In [18]:
num_fields = 0
for cur_field in main_file.index:
    cur_field_id = int(main_file.at[cur_field, "NPDID field"])
    #print("********Current field is %s current field id is %d***************" % (cur_field, cur_field_id))
    
    
    cur_field_prod = monthly[monthly['NPDID information carrier'] == cur_field_id]
    cur_field_prod = cur_field_prod.reset_index()
    
    for j in range(0, len(cur_field_prod)):
        cur_oil_prod = cur_field_prod['Net - oil \n[mill Sm3]'][j]
        cur_gas_prod = cur_field_prod['Net - gas \n[bill Sm3]'][j]
        cur_month = cur_field_prod['Month'][j]
        cur_year = cur_field_prod['Year'][j]
        new_month = (cur_year - 1972)*12 + cur_month + 7
        if(new_month <= 0):
            new_month = cur_month
        oil_month_key = "Oil - Month " + str(new_month)
        gas_month_key = "Gas - Month " + str(new_month)
        #print("Oil month key is %s, oil prod is %f" % (oil_month_key, cur_oil_prod))
        #print("Gas month key is %s, gas prod is %f" % (gas_month_key, cur_gas_prod))
        main_file.loc[[cur_field], [oil_month_key]] = cur_oil_prod
        main_file.loc[[cur_field], [gas_month_key]] = cur_gas_prod
        #print("new oil value for main file is %f" % (main_file.at[cur_field, oil_month_key]))
        #print("new gas value for main file is %f" % (main_file.at[cur_field, gas_month_key]))
    num_fields += 1
#print(num_fields)

In [19]:
main_file

,NPDID field,Orig. inplace ass. liquid \n[mill Sm3],Orig. inplace ass. gas \n[bill Sm3],Orig. inplace free gas \n[bill Sm3],Orig. inplace oil \n[mill Sm3],Orig. recoverable oil \n[mill Sm3],Orig. recoverable gas \n[bill Sm3],Orig. recoverable NGL \n[mill tonn],Orig. recoverable cond. \n[mill Sm3],Orig. recoverable oil eq. \n[mill Sm3 o.e],...,Gas - Month 574,Gas - Month 575,Gas - Month 576,Gas - Month 577,Gas - Month 578,Gas - Month 579,Gas - Month 580,Gas - Month 581,Gas - Month 582,Gas - Month 583
Field name,,,,,,,,,,,,,,,,,,,,,
ALBUSKJELL,43437,0,64,0.00,56,7.35,15.53,0.99,0.00,24.761,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ALVE,4444332,3,1,13.50,3,2.39,9.08,1.41,0.00,14.149,...,0.052880,0.051123,0.051385,0.050412,0.044642,0.047119,0.039082,0.046651,0.038008,0.049763
ALVHEIM,2845712,0,10,11.69,109,51.79,10.06,0.00,0.00,61.850,...,0.051492,0.051333,0.050884,0.049073,0.050076,0.051907,0.048747,0.051668,0.054687,0.059110
ATLA,21106284,0,0,1.88,0,0.40,1.40,0.00,0.00,1.800,...,0.006595,0.003455,0.020400,0.000000,0.000000,0.000000,0.000000,0.016697,0.016802,0.004157
BALDER,43562,0,14,0.00,263,106.87,3.25,0.00,0.00,110.120,...,0.003409,0.002875,0.003265,0.002513,0.003298,0.000759,0.003095,0.003641,0.000874,0.000032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YTTERGRYTA,4973114,1,0,7.39,0,0.29,2.22,0.41,0.00,3.289,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ÆRFUGL,33310197,0,0,63.00,13,5.90,37.04,4.15,0.00,50.825,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ØST FRIGG,43576,0,0,21.37,0,0.00,9.22,0.00,0.07,9.290,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ÅSGARD,43765,200,57,331.09,192,105.85,222.14,41.52,17.11,423.988,...,0.786082,0.733055,0.704532,0.713742,0.824178,0.843821,0.730233,0.728937,0.605009,0.559654
AASTA HANSTEEN,23395946,1,0,78.69,0,0.00,54.01,0.00,0.69,54.700,...,0.706770,0.438322,0.667608,0.630068,0.718730,0.675740,0.200317,0.742341,0.670464,0.794164

In [20]:
main_file.to_csv("main_file_temp.csv")

In [26]:
for fld in main_file.index:
    print(main_file.at[fld, "NPDID field"])

43437
4444332
2845712
21106284
43562
29446221
3437650
43651
21123063
28975067
22492497
43785
43758
34833026
29393934
43541
21675433
43506
43527
43534
3437659
31164879
24635035
1578840
23410947
43555
43597
18161341
4005142
23384544
4467574
1272071
5774394
1035937
18116481
43686
43699
43464
43492
25307278
43771
43590
43485
97002
20474183
21105675
23384520
21613906
32017325
26376286
43604
20460988
1854729
1036101
43583
26465170
21675447
18212090
1630514
43792
4966234
43665
43751
43568
43778
33197696
29412516
43610
2762452
43625
43645
43639
5506919
4467554
3505505
1630100
29401178
4704482
2138816
31164600
21350124
43457
43478
43718
2053062
34833011
43658
43679
43672
22507971
104718
1028599
4999528
43444
43520
43725
29396445
46437
18081500
853376
3960848
43800
2834734
28975098
1578893
20460969
43548
43451
4467595
43618
43513
43732
3392471
43745
20461008
4380167
3420717
43807
4973114
33310197
43576
43765
23395946

In [25]:
for fld in main_file.index:
    print("Field is: %s Number of Wells: %d" % (fld, main_file.at[fld, "# of Wells"]))

Field is: ALBUSKJELL Number of Wells: 26
Field is: ALVE Number of Wells: 8
Field is: ALVHEIM Number of Wells: 15
Field is: ATLA Number of Wells: 5
Field is: BALDER Number of Wells: 7
Field is: BAUGE Number of Wells: 1
Field is: BLANE Number of Wells: 3
Field is: BRAGE Number of Wells: 2
Field is: BRYNHILD Number of Wells: 4
Field is: BYRDING Number of Wells: 17
Field is: BØYLA Number of Wells: 1
Field is: COD Number of Wells: 13
Field is: DRAUGEN Number of Wells: 4
Field is: DUVA Number of Wells: 2
Field is: DVALIN Number of Wells: 3
Field is: EDDA Number of Wells: 12
Field is: EDVARD GRIEG Number of Wells: 1
Field is: EKOFISK Number of Wells: 433
Field is: ELDFISK Number of Wells: 190
Field is: EMBLA Number of Wells: 12
Field is: ENOCH Number of Wells: 1
Field is: FENJA Number of Wells: 4
Field is: FLYNDRE Number of Wells: 2
Field is: FRAM Number of Wells: 12
Field is: FRAM H-NORD Number of Wells: 1
Field is: FRIGG Number of Wells: 54
Field is: FRØY Number of Wells: 1
Field is: GAUPE Number of Wells: 9
Field is: GIMLE Number of Wells: 3
Field is: GINA KROG Number of Wells: 24
Field is: GJØA Number of Wells: 4
Field is: GLITNE Number of Wells: 17
Field is: GOLIAT Number of Wells: 19
Field is: GRANE Number of Wells: 1
Field is: GUDRUN Number of Wells: 18
Field is: GULLFAKS Number of Wells: 8
Field is: GULLFAKS SØR Number of Wells: 18
Field is: GUNGNE Number of Wells: 2
Field is: GYDA Number of Wells: 67
Field is: HANZ Number of Wells: 1
Field is: HEIDRUN Number of Wells: 10
Field is: HEIMDAL Number of Wells: 2
Field is: HOD Number of Wells: 13
Field is: HULDRA Number of Wells: 1
Field is: HYME Number of Wells: 2
Field is: ISLAY Number of Wells: 1
Field is: IVAR AASEN Number of Wells: 9
Field is: JETTE Number of Wells: 2
Field is: JOHAN CASTBERG Number of Wells: 23
Field is: JOHAN SVERDRUP Number of Wells: 2
Field is: JOTUN Number of Wells: 4
Field is: KNARR Number of Wells: 2
Field is: KRISTIN Number of Wells: 5
Field is: KVITEBJØRN Number of Wells: 2
Field is: LILLE-FRIGG Number of Wells: 2
Field is: MARIA Number of Wells: 8
Field is: MARTIN LINGE Number of Wells: 6
Field is: MARULK Number of Wells: 2
Field is: MIKKEL Number of Wells: 3
Field is: MIME Number of Wells: 1
Field is: MORVIN Number of Wells: 1
Field is: MURCHISON Number of Wells: 1
Field is: NJORD Number of Wells: 9
Field is: NORDØST FRIGG Number of Wells: 2
Field is: NORNE Number of Wells: 2
Field is: NOVA Number of Wells: 1
Field is: ODA Number of Wells: 6
Field is: ODIN Number of Wells: 14
Field is: ORMEN LANGE Number of Wells: 7
Field is: OSEBERG Number of Wells: 13
Field is: OSEBERG SØR Number of Wells: 14
Field is: OSEBERG ØST Number of Wells: 3
Field is: OSELVAR Number of Wells: 4
Field is: REV Number of Wells: 3
Field is: RINGHORNE ØST Number of Wells: 2
Field is: SIGYN Number of Wells: 7
Field is: SINDRE Number of Wells: 1
Field is: SKARV Number of Wells: 1
Field is: SKIRNE Number of Wells: 3
Field is: SKOGUL Number of Wells: 1
Field is: SKULD Number of Wells: 2
Field is: SLEIPNER VEST Number of Wells: 8
Field is: SLEIPNER ØST Number of Wells: 2
Field is: SNORRE Number of Wells: 8
Field is: SNØHVIT Number of Wells: 10
Field is: SOLVEIG Number of Wells: 4
Field is: STATFJORD Number of Wells: 1
Field is: STATFJORD NORD Number of Wells: 1
Field is: STATFJORD ØST Number of Wells: 1
Field is: SVALIN Number of Wells: 4
Field is: SYGNA Number of Wells: 2
Field is: TAMBAR Number of Wells: 8
Field is: TAMBAR ØST Number of Wells: 3
Field is: TOMMELITEN GAMMA Number of Wells: 9
Field is: TOR Number of Wells: 33
Field is: TORDIS Number of Wells: 5
Field is: TRESTAKK Number of Wells: 1
Field is: TROLL Number of Wells: 3
Field is: TRYM Number of Wells: 5
Field is: TUNE Number of Wells: 4
Field is: TYRIHANS Number of Wells: 8
Field is: ULA Number of Wells: 50
Field is: URD Number of Wells: 11
Field is: UTGARD Number of Wells: 1
Field is: VALE Number of Wells: 1
Field is: VALEMON Number of Wells: 5
Field is: VALHALL Number of Wells: 205
Field is: VARG Number of Wells: 4
Field is: VEGA Number of Wells: 9
Field is: VESLEFRIKK Number of Wells: 6
Field is: VEST EKOFISK Number of Wells: 21
Field is: VIGDIS Number of Wells: 4
Field is: VILJE Number of Wells: 1
Field is: VISUND Number of Wells: 8
Field is: VISUND SØR Number of Wells: 2
Field is: VOLUND Number of Wells: 1
Field is: VOLVE Number of Wells: 1
Field is: YME Number of Wells: 35
Field is: YTTERGRYTA Number of Wells: 2
Field is: ÆRFUGL Number of Wells: 4
Field is: ØST FRIGG Number of Wells: 5
Field is: ÅSGARD Number of Wells: 10
Field is: AASTA HANSTEEN Number of Wells: 8